

body {
    width: 100vmax;
    margin: 0;
    overflow: hidden;
    display: flex;
    background-color: #121012;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1.6180;
    width: 720px;
    background-color: #ffffff10;

}