
:root{
    --color-bg: #FF99B9;
    --color-main: #241F1F;
    --color-secondary: #EFEFD0;
}


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--color-bg);
}

.center_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    margin-top: 2.42rem;
    font-family: "motor-stencil", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.navbar a{
    text-decoration: none;
    color: var(--color-main);
    transition: all 100ms ease-in;
    padding: .4rem;
    border-radius: 4px;
}

.navbar #about {
    font-size: 20pt;
    margin-right: 1.2rem;
}

.navbar #load-text {
    font-size: 40pt;
}

.navbar #projects{
    font-size: 20pt;
    margin-left: 1.2rem;
}

.navbar a:hover{
    background-color: var(--color-main);
    color: var(--color-secondary);
}


#piki{
    margin-left: 3.32rem;
    margin-top: 8.7rem;
    position: fixed;
    width: 200px;
}
#piki_text{
    margin-left: 5rem;
    margin-top: 25rem;
    position: fixed;
}

.scroller_right{
}

#elmoor_school{
    position: fixed;
    margin-left: 100rem;
    margin-top: 5rem;
    height: 234px;
    rotate: -18deg;
}


.about{
    position: relative;
    margin-top: 5.6rem;
}

.about svg{ 
    position:absolute;
    float:left;
    margin-top: 1.4rem;
    fill: none;
    stroke: var(--color-main);
    scale:1.04;
}

#outer{
    animation: rotate_cw 30s linear none infinite;
    transform-origin: center;
}

#inner{
    animation: rotate_cw 30s linear none infinite reverse;
    transform-origin: center;
    scale: 0.7;
}

.about p{
    float:right;
    max-width: 500px;
    margin-left: 8rem;
    color:var(--color-main);
}

@keyframes rotate_cw {
    from{rotate:0deg;}
    to{rotate:360deg;}
}

@keyframes rotate_cw_transform {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}