
:root{
    --color-bg: #FF99B9;
    --color-main: #241F1F;
    --color-secondary: #EFEFD0;
    --g1: #241F1F;
    --g2: #FFCF53;
    --g3: #C837AB;
    --g4: #4861C9;
    

    /**dnd colorscheme**/
    --dnd-main: #E6E6E6;
    --dnd-accent: #CE0000;
}

/**---- Universal settings ----**/
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--color-bg);
    font-family: fagun, sans-serif;
}

.center_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    margin-top: 2.42rem;
    font-family: "motor-stencil", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.navbar a{
    text-decoration: none;
    color: var(--color-main);
    transition: all 100ms ease-in;
    padding: .4rem;
    border-radius: 4px;
}

.navbar #contact {
    font-size: 20pt;
    margin-right: 1.2rem;
}

.navbar #load-text {
    font-size: 40pt;
}

.navbar #projects{
    font-size: 20pt;
    margin-left: 1.2rem;
}

.navbar a:hover{
    background-color: var(--color-main);
    color: var(--color-secondary);
}

a{
    margin:0    
}

/**---- Landing page settings ----**/
#piki{
    margin-left: 3.32rem;
    margin-top: 8.7rem;
    position: fixed;
    width: 200px;
}
#piki_text{
    margin-left: 4rem;
    margin-top: 25rem;
    position: fixed;
    font-family: fagun, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.scroller_right{
}

#elmoor_school{
    position: fixed;
    margin-left: 100rem;
    margin-top: 5rem;
    height: 234px;
    rotate: -18deg;
}


.about1{
    position: relative;
    margin-top: 5.6rem;
    font-weight: 600;
    font-style: normal;
}    

.about1 p{
    float:right;
    font-size: 100pt;
    margin: 0;
    margin-left: 10rem;
    color:var(--color-main);
    letter-spacing: 3px;
}

.about1 svg{ 
    position:absolute;
    float:left;
    margin-top: 0.195rem;
    fill: none;
    stroke: var(--color-main);
    scale:1.04;
}    

#outer{
    animation: rotate_cw 30s linear none infinite;
    transform-origin: center;
}    

#inner{
    animation: rotate_cw 30s linear none infinite reverse;
    transform-origin: center;
    scale: 0.7;
}    


.about2{
    margin-top: 3rem;
    width: 44.375rem;
    font-weight: 500;
    font-style: normal;
}

.about2 p{
    margin: 0;
    width: 500px;
    font-size: 14pt;

}

#about_dashes{
    float:right;
    scale:0.3;
}
/**---- Projects sida universal ----**/

.card{
    background-color: var(--color-main);
    height: 370px;
    aspect-ratio: 10/3;
    margin-left: 12rem;
    margin-top: 2rem; 
    border: 5px solid var(--color-secondary);
    border-radius: 10px;
    cursor: pointer;
}

.expand_lines{
    float: right;
    margin-right: 0.3rem;
    margin-top: 20.825rem;
}

.card_header{
    float: right;
    margin-right: 9.625rem;
    margin-top: 2.03125rem;
    margin-bottom: 0;
    color:white;
}

.card_text{
    float:right;
    font-size: 16pt;
    max-width: 760px;
    margin-right: 4.625rem;
    margin-top: 0.9rem;
    margin-bottom: 0;
    color:white;
}

.svg_icon{
    margin-left: 2.03125rem;
    margin-top: 3.03125rem;
    scale: 0.97;
    aspect-ratio: 1;
    width: 263.84px;
}

/**---- Projects sida specifics ----**/

.dnd_header{
    color:var(--dnd-main);
    font-family: 'Cherry Swash', cursive;
    font-size: 40pt;
}

.dnd_text{
    color:var(--dnd-main);
    font-family: "chaparral-pro", serif;
    font-weight: 400;
    font-style: normal;
}

#dnd_and{
    color:var(--dnd-accent)
}

#download_pdf_icon{
    float:right;
    margin: 0;
    margin-right: 4rem;
    margin-top: -0.7rem;
    scale: 1.05;
}


/**---- Contact sida ----**/

.contact_content{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-self: center;
}

#contact_header{
    margin-left: 18rem;
    font-family: 'Monoton', cursive;
    font-size: 50pt;
    margin-bottom: 0;
}

#divider_line{
    transform: scaleX(0.7);
}

.contact_div{
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
}

.contact_svg{
    margin-top: 1rem;
}

#email{
    margin-left: calc(18rem);
    margin-top: 1rem;
}

.contact_socials{
    font-family: fagun, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
    margin: 0;
    margin-top: 0.5rem;
}

#twitter{
    margin-left: 1.5rem;
}
#twitter-mark{
    fill: var(--color-main);
    transition: all 250ms ease-out;
}
#twitter-mark:hover{
    fill: #1c93e4 ;
}

#github{
    margin-left: 2rem;
}
#github-mark{
    fill: var(--color-main);
    transition: all 500ms ease-in-out;
    transform-origin: center;
}
#github-mark:hover{
    rotate: 360deg;
    scale:1.01;
}

#instagram{
    margin-left: 1.9rem;
}
#instagram-mark{
    fill: var(--color-main);
    transition: all 200ms ease-out;
    transition-delay: 200ms;
    margin-top: 1.2rem;
}
#instagram-mark:hover{
    animation: colors 2000ms ease-in-out;
    fill: #962fbf;
}

@keyframes colors {
    20%{fill:#feda75;}
    40%{fill: #fa7e1e;}
    60%{fill: #d62976;}
    80%{fill: #4f5bd5;}
    100%{fill: #962fbf;}
}
@keyframes rotate_cw {
    from{rotate:0deg;}
    to{rotate:360deg;}
}

@keyframes rotate_cw_transform {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}